Repository ucsb-cs56-f19/ucsb-tutor-scheduler, pull requests merged in 2019-12, with the labels that each got.

#35 JY - Created seed data for local testing
  src/main/config/localhost/data.sql
Labels: F19-Tutors

#44 kz - added missing semicolon resulting in errors when running on localhost
  src/main/config/localhost/data.sql
Labels: F19-Courses

#43 JL - Add a update tutor button for the update page
  src/main/resources/templates/tutors/update.html
Labels: F19-Tutors, bug

#28 tkkz - Don't allow assignments of a tutor to multiple course offerings with the same quarter
  .gitignore
  docs/apidocs/member-search-index.zip
  docs/apidocs/package-search-index.zip
  docs/apidocs/type-search-index.zip
  pom.xml
  src/main/config/localhost/data.sql
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/controllers/TutorAssignmentController.java
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/entities/CourseOffering.java
  src/main/resources/templates/fragments/basic_form.html
  src/main/resources/templates/tutors/show.html
Labels: F19-Courses

#50 Lr change nav bar
  src/main/resources/templates/fragments/bootstrap_nav_header.html
Labels: F19-Courses

#49 tk - tutor csv download
  pom.xml
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/controllers/CSVDownloadController.java
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/controllers/TutorAssignmentController.java
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/entities/TutorsToCSV.java
  src/main/resources/templates/fragments/basic_form.html
Labels: F19-Courses

#57 kz - added level field to data.sql to avoid empty level column
  src/main/resources/data.sql
Labels: F19-Courses

#54 tk - fixed checkIfAssigned method to take in iterable as a parameter …
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/controllers/TutorAssignmentController.java
Labels: F19-Courses

#64 As/kk fix login page
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/Application.java
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/controllers/HomeController.java
  src/main/resources/templates/fragments/bootstrap_nav_header.html
  src/main/resources/templates/login.html
Labels: F19-Tutors

#59 tk - Allow users to create new course offerings
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/entities/CourseOffering.java
Labels: F19-Courses, bug

#62 Tk - duplicate courses
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/controllers/CourseOfferingController.java
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/entities/CourseOffering.java
  src/main/resources/templates/fragments/basic_form.html
Labels: F19-Courses, bug

#63 tk - tutor csv was not writing the tutor data.
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/entities/TutorsToCSV.java
Labels: F19-Courses, bug

#70 kz - added show column
  src/main/resources/templates/fragments/basic_form.html
Labels: F19-Courses

#45 removed course offering page on the homepage and added them to the course offering page
  src/main/java/edu/ucsb/cs56/ucsb_courses_search/controllers/CourseOfferingController.java
  src/main/resources/templates/courseOfferings/mainCourse.html
  src/main/resources/templates/fragments/basic_form.html
  src/main/resources/templates/fragments/bootstrap_nav_header.html
Labels: CHANGES REQUESTED, F19-Courses

#74 kz - fixed missing level of tutors in level column of tutors table
  src/main/resources/templates/fragments/basic_form.html
Labels: F19-Courses

#72 JL - added navigation header and footer to tutors create page, and added a cancel button
  src/main/resources/templates/tutors/create.html
Labels: F19-Tutors, bug

#75 JL - added navigation headers and cancel buttons for courseOffer create, timeSlot create, room create pages.
  src/main/resources/templates/courseOfferings/create.html
  src/main/resources/templates/rooms/create.html
  src/main/resources/templates/timeSlots/create.html
Labels: F19-Tutors, bug
